@import 'tailwindcss';

@theme {
  --color-primary: #30343f;
  --color-secondary: #273469;
  --color-secondary-light: #505a83;
  --color-secondary-dark: #1e2749;
  --color-text: #fafaff;
  --color-accent: #e4d9ff;
  --color-accent-dark: #bfa5ff;
}

body {
  @apply bg-secondary;
}

/* METEORS */

@keyframes meteor {
  0% {
    transform: scale(0%) translateY(0%) translateX(0%) rotate(140deg);
    opacity: 0;
  }
  50% {
    transform: scale(1) translateY(50vh) translateX(50vh) rotate(140deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(100vh) rotate(140deg);
  }
}

.meteor {
  position: absolute;
  width: 2px;
  height: 300px;
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  animation: meteor 5s linear infinite;
  border-radius: 10px;
}
